/* Base Application Styles */
$brand-red: #ea4543;
$brand-blue: #1e345f;

header{ 
  text-align: center;
  img{
    width: 200px;
  }
}

.hide-mobile{
  @media only screen and (max-width: 768px){
    display: none;
  }
}
.show-mobile{
  @media only screen and (min-width: 768px){
    display: none;
  }
}

.search-input{
    width: 100%;
    max-width: 500px;
    background-color: $brand-blue;
    border: none;
    height: 45px;
    border-radius: 50px;
    margin: 50px auto 0;
    color: #FFF;
    padding: 0 30px;
    display: block;
    outline: none !important;
}
.search-input-info{
  font-size: 12px;
  color: #a7b0b4;
  line-height: 16px;
  max-width: 40%;
  margin: 10px auto 30px;
  text-align: center;
}
.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  &.pokemons-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}