.bookmark-btn {
	background-color: #235789;
	border: none;
	border-radius: 20px;
	color: #FFF;
	padding: 7px 20px 5px;
	font-size: 12px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	&:hover{
		background: darken(#235789,10%);
	}
	&.unsave{
		background: #B9BAB8;
		&:hover{
			background: darken(#B9BAB8,10%);;
		}
	}
	.fa{
		font-size: 14px;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -2px;
	}
}
