*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
button,a{
    outline: none!important;
    cursor: pointer !important;
    transition: all 0.3s ease-out;
}
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}
html.modal-active{
    overflow: hidden !important;
}
body {
    background: #efefef;
    border-top: 3px solid #ea4543;
    padding-top: 50px;
    color: #5b5d5f;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}