.pokemon-type-label{
	background: #8a8d94;
	padding: 4px 20px 2px 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	display: inline-block;
	margin: 4px 10px 8px 4px;
	vertical-align: middle;
	color: #FFF;
	.icn{
		width: 30px;
		vertical-align: middle;
		height: 30px;
		border: 2px solid #8a8d94;
		margin-top: -8px;
		margin-left: -10px;
		margin-bottom: -7px;
		display: inline-block;
		border-radius: 50%;
		background: #FFF;
		margin-right: 5px;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		img{
			width: 80%;
			vertical-align: middle;
		}
	}
}

