/* PokemonCard Styles */

$brand-red: #ea4543;
$brand-blue: #1e345f; 

.modal-container{
  background-color: transparentize($brand-blue,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.close-btn{
  background: #fff;
  border-radius: 50%;
  border: 0px;
  font-size: 35px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #979da0;
  display: block;
  outline: none !important;
  text-decoration: none;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
  &:hover{
    color: $brand-red;
    transform: scale(1.05);
  }
}
.modal {
  position: relative;
    padding: 20px;
  @media only screen and (min-width: 768px){
    padding: 60px 60px;
  }
    background: white;
    transition: opacity 0.3s,
                transform 0.5s;

    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    margin: 30px auto;
    border-top: 4px solid $brand-red;
}

.modal-body{
  .name-wrapper{
    color: $brand-red;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
    small{
      display: block;
      color: #abaeb1;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

.col-50{
  width: 100%;
  float: left;
  padding: 10px;
  @media screen and (min-width: 768px){
    width: 50%;
  }
}

.detail-title{
  font-size: 12px;
  text-transform: uppercase;
  color: #407792;
  margin-bottom: 5px;
  margin-top: 20px;
}

.pokemon-attr-detail{
  font-weight: bold;
  font-size: 14px;
}

.pokemon-ability{
  font-weight: bold;
  text-transform: capitalize;
}

.image-wrapper{
  position: relative;
  text-align: center;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #CCC;
  padding: 30px;
  margin-bottom: 30px;
  .pokemon-card__image{
    width: 100%;
    border-radius: 30%;
  }
  .national-id{
    position: absolute;
    background: rgba(0,0,0,0.5);
    padding: 4px 10px;
    border-radius: 6px;
    bottom: -10px;
    width: 100px;
    left: 55px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
  }
}


.modal-anim-enter {
    opacity: 0;
    transition: opacity 0.2s;
    .modal{
      opacity: 0;
      transform: translateY(-100px);
    }
    &.modal-anim-enter-active {
        opacity: 1;
        .modal{
          opacity: 1;
          transform: translateY(0px);
        }
    }
}

.modal-anim-leave {
    opacity: 1;
    transition: all 0.2s;
    .modal{
      opacity: 0;
      transform: translateY(0px);
    }
    &.modal-anim-leave-active {
        opacity: 0.00;
        .modal{
          opacity: 1;
          transform: translateY(150px);
        }
    }
}