/* PokemonCard Styles */

$brand-red: #ea4543;
$brand-blue: #1e345f;

.bookmarked-list{
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px !important;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.05);
  .pokemon-card{
    height: 95px;
    text-align: left;
    .pokemon-card__pokemon-name{
      margin-top: 10px;
    }
    .pokemon-card__image-wrapper{
      height: 70px;
      width: 70px;
      float: left;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid #ccc;
      .pokemon-card__label{
        display: none;
      }
    }
  }
}
.pokemon-card{
  width: 240px;
  text-decoration: none;
  height: 270px; 
  background-color: #FFF;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform .3s ease-out,
              box-shadow .3s ease-out,
              border .5s ease-out;
  &:hover{
    transform: scale(1.05);
    border-color: $brand-red;
    box-shadow: 0 0px 10px rgba(0,0,0,.2);
  }
}
.pokemon-card__image-wrapper{
  height: 150px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  position: relative;
  img{
    height: 90%;
  }
}
.pokemon-card__label{
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: rgba(0,0,0,0.3);
  padding: 3px 7px 1px;
  border-radius: 4px;
  color: #FFF;
  font-size: 10px;
}
.pokemon-card__pokemon-name{
  font-size: 16px;
  text-transform: uppercase;
  color: $brand-blue;
  margin: 30px 0 0;
}
.pokemon-card__pokemon-species{
  font-size: 12px;
  margin: 0;
  color: #aaa;
}
.pokemon-card__link{
  margin-top: 10px;
  button{
    background-color: $brand-red;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 10px;
    padding: 7px 12px 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none !important;
  }
}