.vote-wrapper{
	margin-bottom: 30px;
	padding: 5px 20px 15px;
	background-color: #e9ebec;
	border-radius: 10px;
	text-align: center;
	h4{
		color: #909a9e;
		text-align: left;
		font-size: 14px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.vote-detail{
		.fa{
			margin-right: 10px;
		}
		.like{
			 color: #8BC34A;
		 }
		.dislike{
			color: #e05a51;
		}
	}
}

.pokemon-name{
	text-transform: capitalize;
}
.vote-count{
	font-size: 20px;
	font-weight: bolder;
}

.vote-btn {
	border: none;
	border-radius: 20px;
	color: #FFF;
	padding: 6px 15px 5px;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bolder !important;
	margin-right: 20px;
	&.like{
		background-color: #8BC34A;
		&:hover{
			background: darken(#8BC34A,10%);
		}
	}
	&.dislike{
		background-color: #e05a51;
		&:hover{
			background: darken(#e05a51,10%);
		}
	}
	&.active{
		background: #B9BAB8 !important;
		cursor: no-drop !important;
	}
	.fa{
		font-size: 12px;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -2px;
	}
}
